body {
    font-family: "Ubuntu";
    margin: 10px;
    padding: 10px;
}

.headerallpage {
    text-align: center;
    color: white;
    background-color: #e24545;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
