body {
    font-family: "Ubuntu";
    margin: 10px;
    padding: 10px;
}

.headerallpage {
    text-align: center;
    color: white;
    background-color: #206723;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

input {
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    padding: 8px;
    margin: 10px 0;
    background-color: #206723;
    border-radius: 5px;
    color: white;
}

button {
    background-color: white;
    color: black;
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#output {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-left: 4px solid #206723;
    border-radius: 4px;
}
